*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing : border-box;
    
}
        
.login-form{
    width:360px;
    height: 500px;
    background:white;
    padding:80px 40px;
    border-radius: 10px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% ,-50%);
}
.login-form h2{
    text-align: center;
    margin-bottom: 60px; 
}
